<a href="https://colab.research.google.com/github/Danica25/ML-algorithms/blob/main/Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ALGORITHM:**  
1.An input layer that receives data and pass it on.  
2.A hidden layer.  
3.An output layer.  
4.Weights between the layers.  
5.A deliberate activation function for every hidden layer.In this simple neural network Python tutorial.We'll employ the sigmoid activation function.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [5]:
df = pd.read_csv('diabetes.csv')

In [ ]:
print(df.shape)

(768, 9)

In [6]:
df.describe().transpose()

                          count        mean  ...        75%     max
Pregnancies               768.0    3.845052  ...    6.00000   17.00
Glucose                   768.0  120.894531  ...  140.25000  199.00
BloodPressure             768.0   69.105469  ...   80.00000  122.00
SkinThickness             768.0   20.536458  ...   32.00000   99.00
Insulin                   768.0   79.799479  ...  127.25000  846.00
BMI                       768.0   31.992578  ...   36.60000   67.10
DiabetesPedigreeFunction  768.0    0.471876  ...    0.62625    2.42
Age                       768.0   33.240885  ...   41.00000   81.00
Outcome                   768.0    0.348958  ...    1.00000    1.00

[9 rows x 8 columns]

In [7]:
target_column = ['Outcome'] 
predictors = list(set(list(df.columns))-set(target_column))
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

                          count      mean       std  ...       50%       75%  max
Pregnancies               768.0  0.226180  0.198210  ...  0.176471  0.352941  1.0
Glucose                   768.0  0.607510  0.160666  ...  0.587940  0.704774  1.0
BloodPressure             768.0  0.566438  0.158654  ...  0.590164  0.655738  1.0
SkinThickness             768.0  0.207439  0.161134  ...  0.232323  0.323232  1.0
Insulin                   768.0  0.094326  0.136222  ...  0.036052  0.150414  1.0
BMI                       768.0  0.476790  0.117499  ...  0.476900  0.545455  1.0
DiabetesPedigreeFunction  768.0  0.194990  0.136913  ...  0.153926  0.258781  1.0
Age                       768.0  0.410381  0.145188  ...  0.358025  0.506173  1.0
Outcome                   768.0  0.348958  0.476951  ...  0.000000  1.000000  1.0

[9 rows x 8 columns]

In [8]:
X = df[predictors].values
y = df[target_column].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(537, 8)
(231, 8)

In [9]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)
predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

[[321  37]
 [ 77 102]]
              precision    recall  f1-score   support

           0       0.81      0.90      0.85       358
           1       0.73      0.57      0.64       179

    accuracy                           0.79       537
   macro avg       0.77      0.73      0.75       537
weighted avg       0.78      0.79      0.78       537

In [12]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[124  18]
 [ 40  49]]
              precision    recall  f1-score   support

           0       0.76      0.87      0.81       142
           1       0.73      0.55      0.63        89

    accuracy                           0.75       231
   macro avg       0.74      0.71      0.72       231
weighted avg       0.75      0.75      0.74       231